#LiveDemo {
  width: var(--width-Container);
  margin: auto;
  padding: 20px;
  #Hero {
    background-color: white;
    padding-top: 0px;
    .Event-Image {
      aspect-ratio: 16/9;
      width: 100%;
      background-color: white;
      border: 1px solid black;
      display: grid;
      place-items: center;
    }

    .Title {
      margin: 40px 0px;
    }
    .Message {
      margin-top: 40px;
      text-align: center;
      font-size: var(--font_size_24);
    }
    .subTitle {
      text-align: center;
      margin-bottom: 50px;
    }
    .Location {
      iframe {
        width: 50%;
        height: 100%;
        aspect-ratio: 1/1;
        border-radius: 12px;
        box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
      }
    }
    .RSVP {
      margin-top: 50px;
      display: flex;
      .QR-Container {
        border: 1px solid black;
        aspect-ratio: 1/1;
        width: clamp(300px, 100%, 400px);
        display: grid;
        place-items: center;
      }
    }
  }
}
