#Package {
  .Container {
    .Card-Container {
      margin-top: 100px;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: var(--gap_15);
      #PackageCard {
        flex: 1 1;
        padding: var(--padding_20);
        border-radius: var(--border_radius_6);
        box-shadow: var(--box_shadow_1);
        .title {
          text-align: center;
          padding-bottom: var(--gap_15);
          h3 {
            color: var(--colour_primary_dark);
          }
        }
        .package-details {
          li {
            padding: 5px 0px;
            display: flex;
            align-items: center;
          }
        }
      }
    }
  }
}
