#Package {
  .Container {
    .Card-Container {
      margin: 100px 0px;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: var(--gap_15);
      flex-wrap: wrap;
      #PackageCard {
        background-color: #fff;
        flex: 1 1 0;
        padding: var(--padding_20);
        border-radius: var(--border_radius_6);
        border: 2px solid var(--bg_colour_lgray);
        .title {
          text-align: center;
          padding-bottom: var(--gap_15);
          h2 {
            color: var(--colour_primary_dark);
          }
        }
        .Price {
          text-align: center;
          padding: var(--gap_15) 0px;
          h1 {
            color: var(--colour_primary_dark);
            span {
              font-size: var(--font_size_16);
              color: var(--text_colour_dkgray);
              font-weight: var(--font_weight_semibold);
            }
          }
        }
        .package-details {
          li {
            padding: 5px 0px;
            display: flex;
            align-items: center;
            margin: 7px 0px;
            p {
              margin-left: 5px;
              font-size: var(--font_size_18);
              color: var(--text_colour_black);
              font-weight: var(--font_weight_normal);
            }
            &.gray {
              p {
                font-size: var(--font_size_16);
                color: var(--text_colour_lgray);
                font-weight: var(--font_weight_normal);
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1px) and (max-width: 768px) {
  #Package {
    .Container {
      .Card-Container {
        flex-direction: column;
        #PackageCard {
          width: 100%;
          .title {
            text-align: left;
          }
          .Price {
            text-align: left;
          }
        }
      }
    }
  }
}
