#Hero {
  background-color: var(--colour_primary_light);

  .Container {
    display: flex;
    align-content: center;
    justify-content: space-between;
    height: 60vh;
    max-height: 600px;
    .Section {
      display: flex;
      align-items: center;
      &.Text {
        h1 {
          font-size: 64px;
          span {
            color: var(--colour_primary_dark);
          }
        }
      }
      &.Image {
        img {
          width: 100%;
          max-width: 400px;
        }
      }
    }
  }
  .wrapper {
    position: relative;
    .custom-shape-divider-top-1717847592 {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      overflow: hidden;
      line-height: 0;
      .shape-fill {
        fill: var(--colour_primary_light);
      }
    }
  }
}
